<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUPPORT_TIMEOUT</key>
	<integer>10</integer>
	<key>ASK_TIMEOUT</key>
	<integer>30</integer>
	<key>FEEDBACK_TIMEOUT</key>
	<integer>10</integer>
	<key>LU_BASE_URL</key>
	<string>https://jo4h0f6euk.execute-api.us-east-1.amazonaws.com/delta</string>
	<key>LU_BASE_URL_LOCAL</key>
	<string>http://192.168.178.250:8000/delta</string>
	<key>LU_BASE_URL_DEV</key>
	<string>https://jo4h0f6euk.execute-api.us-east-1.amazonaws.com/delta</string>
</dict>
</plist>
