<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUPPORT_TIMEOUT</key>
	<integer>10</integer>
	<key>ASK_TIMEOUT</key>
	<integer>30</integer>
	<key>FEEDBACK_TIMEOUT</key>
	<integer>10</integer>
	<key>LU_BASE_URL</key>
	<string>https://api.lulabs.ai/delta</string>
	<key>LU_BASE_URL_PROD</key>
	<string>https://api.lulabs.ai/delta</string>
	<key>LU_BASE_URL_DEV</key>
	<string>https://jo4h0f6euk.execute-api.us-east-1.amazonaws.com/delta</string>
	<key>LU_BASE_URL_STAGING</key>
	<string>https://nvp7moi94d.execute-api.us-east-1.amazonaws.com/delta</string>
	<key>LMNT_API_KEY</key>
	<string>ak_ZLcaUW4rsMnhnQeCq26RxL</string>
	<key>ELEVENLABS_API_KEY</key>
	<string>sk_897a86bd174e118115b5fbe483abf2ea44628e7b419d9625</string>
</dict>
</plist>
